# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Microservices\007 First Production Quality Microservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
